# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.bak
*.swp
*~
.ipynb_checkpoints
.ruff_cache

# Project specific
data/
logs/
*.zip
*.csv
